body {
	padding: 10px;
	font-family: sans-serif;
}
.mybkgnd{
	background: url('dawid-zawila-zb2vBaHYB2I-unsplash.jpg');
	background-size: cover;
}
.mybkcol{
	background: #ffffff44;/*rgba*/
}
.imgs{
	width: 100%;
	transition: .3s linear;
	cursor: pointer;
}

.imgs:hover{
	transform: scale(1.1);
}

.uniform{
	height: 250px;
	overflow: hidden;
}
.dcolor, .ecolor{
	font-size: 2em;
	cursor: pointer;
}
.dcolor{
	color: red;
}
.ecolor{
	color: green;
}
.placeHolder{
	margin-bottom: 10px;
	width: 350px;
	height: 250px;
}

#login-dropdown-list{
	list-style: none;
}

.rating > label{
	cursor: pointer;
}