body {
	padding: 10px;
	font-family: sans-serif;
}
.mybkgnd{
	background: url('dawid-zawila-zb2vBaHYB2I-unsplash.jpg');
	background-size: cover;
}
.mybkcol{
	background: #ffffff44;/*rgba*/
}
.imgs{
	width: 100%;
	transition: .3s linear;
	cursor: pointer;
}

.imgs:hover{
	transform: scale(1.1);
}

.uniform{
	height: 250px;
	overflow: hidden;
}
.uniform2 img{
	width: 100%;
}
.dcolor, .ecolor{
	font-size: 2em;
	cursor: pointer;
}
.dcolor{
	color: red;
}
.ecolor{
	color: green;
}
.placeHolder{
	margin-bottom: 10px;
	width: 100%;
}

#login-dropdown-list{
	list-style: none;
}

.rating > label{
	cursor: pointer;
}

.col-4 > h3, h4, h5{
	font-size: 1.3em;
}

.imgCrop{
	max-width: 350px;
	max-height: 250px;
	margin: 0 auto;
	overflow: hidden;
}
#e404Pic{
	width: 150px;
	border-radius: 10%;
}
#e404Text{
	color: black;
}