body {
	padding: 10px;
	font-family: sans-serif;
}

.imgs{
	width: 100%;
}

.uniform{
	height: 250px;
	overflow: hidden;
}
.dcolor, .ecolor{
	font-size: 2em;
	cursor: pointer;
}
.dcolor{
	color: red;
}
.ecolor{
	color: green;
}
.placeHolder{
	margin-bottom: 10px;
	width: 350px;
	height: 250px;
}

#login-buttons a{
	text-decoration: none;
}